// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Cloud of tags
.css1 { font-size: 1.0em; color: rgb(50, 50, 300); }
.css2 { font-size: 1.3em; color: rgb(50, 50, 250); }
.css3 { font-size: 1.6em; color: rgb(50, 50, 150); }
.css4 { font-size: 1.9em; color: rgb(50, 50, 100); }
.tag_cloud { padding: 1.0em; display: inline-block; }
